{% extends 'blog/base.html' %}
{% block content %}
  <style>
    a.con1, a.con2{
      margin-left: 15%;
      margin-right: 15%;
    }
    p{
      text-align: justify;
      margin-left: 15%;
      margin-right: 15%;
      white-space: pre-wrap;
    }
  </style>

  <head>
    <a class="btn btn-primary" href="{% url 'blog:home' %}">Home</a>
    <a class="btn btn-primary" href="{% url 'blog:logout' %}">Logout</a>
    <h1>{{ blog.blog_title }}</h1><br>
      <h3>Author : {{ blog.author.username }}</h3>
      <h3>Publication Date : {{ blog.pub_date.date }}</h3>
        <a class="con1" href = "{% url 'blog:editblog' user.id blog.id %}">Click here to edit your blog !</a><br>
        <a class="con2" href = "{% url 'blog:deleteblog' user.id blog.id %}">Click here to delete your blog !</a><br>
  </head>

  <body>
    <p>{{ blog.textcontent }}</p>
  </body>
{% endblock %}
